<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoMate.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="Model" serializeAs="String">
                <value>gpt-4</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxTokens" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ConversationHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="Conversation" serializeAs="String">
                <value />
            </setting>
        </AutoMate.Properties.Settings>
    </userSettings>
</configuration>